Repository mohsenSy/hello-semaphore: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build service1, Build Service2

Build service1:
  jobs:
  - name: Build service1
    commands:
    - echo "Building Service1"

Build Service2:
  jobs:
  - name: 'Job #1'
    commands:
    - echo "Building Service2"

Fix pipeline config again
  .semaphore/semaphore.yml
Due: none

Test changing service 1 only
  service1/README.md
Due: Build service1

Test changing service 2 only
  service2/README.md
Due: Build Service2

Simulate error
  .semaphore/semaphore.yml
  service1/README.md
  service2/README.md
Due: Build service1, Build Service2

Fix error
  .semaphore/semaphore.yml
Due: none

Change s1
  service1/README.md
Due: Build service1

Change s2
  service2/README.md
Due: Build Service2

Path conditions:
  Build service1: any of: service1/
  Build Service2: any of: service2/
